/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  margin-top: 49px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 550px;
}

line {
  border: 1px solid #dee0e3;
  width: 100%;
  margin-top: 16px;
}

.comments-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 48px;
  margin-bottom: 24px;
}

.form-description {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}

.name-input {
  font-family: 'Roboto';
  font-size: 16px;
  height: 40px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.comment-input {
  font-family: 'Roboto';
  font-size: 16px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}

.add-button {
  background-color: #0284c7;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
  align-self: flex-start;
  min-width: 60px;
  border-radius: 4px;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  cursor: pointer;
}

.image {
  height: 200px;
  width: 200px;
}

.heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
}

.comments-count {
  text-align: center;
  color: #ffffff;
  background-color: #0284c7;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 4px;
  margin-bottom: 12px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.commets-list {
  padding-left: 0;
  margin-top: 0;
}
